language: java
jdk: oraclejdk8
notifications:
  email:
    on_success: never
    on_failure: change
after_success:
  mvn -Dmaven.test.skip=true cobertura:cobertura jacoco:report coveralls:report -DTRAVIS_JOB_ID=$TRAVIS_JOB_ID
